.main-con{
	.main-img{
		img{width: 100%;}
	}
	.bimai-con{
		
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		background-color: rgb(255, 231, 227);
		padding-left:2%;
		padding-right:2%;
		li{
			width: 32%; 
			margin-bottom:3px;
			//border:1px solid red;
			background:#fff;
			img{
				width:100%;
			}
		}
	}
	.bimai-nav{
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
		height:50px;
		line-height:50px;
		background-color: rgb(255, 231, 227);
		font-size:16px;
		.active{ border-bottom:2px solid #000;}
	}
	.hufu{
		width:100%;
	}
	
}
