.item-con{
	margin-top: -50px;
	h3{
		height:50px;
		line-height: 50px;
		border-bottom:1px solid #ccc;
		font-size:20px;
		padding-left:5%;
		position: fixed;
		top:0;
		left:0;
		right:0;
		background-color: #fff;
		.list-title{padding-left:35%;}
		
		
	}
	img{width:100%;}
	.btns{
		width: 100%;
		height: 50px;
		line-height:50px;
		display: flex;
		position: fixed;
		bottom:0;
		left:0;
		right:0;
		text-align: center;
		justify-content: space-around;
		background: #fe91ae;
		font-size:14px;
		color:#fff;
		div:nth-of-type(1){width:50%;}
		div:nth-of-type(2){width:50%;background-color: #ff6692;}
	}
	.icon-btn{
		position:fixed;
		bottom:50px;
		right:10px;
		width: 50px;
		height:120px;
		font-size: 20px;
		
		span{
			width:50px;
			height: 50px;
			border:1px solid #ccc;
			border-radius: 50%;
			line-height: 50px;
			margin-bottom:5px;
		}
	}
}