.cart-con{
	margin-top: -50px;
	text-align: center;
	background-color: #eee;
	
	h3{
		text-align: left;
		height:50px;
		line-height: 50px;
		border-bottom:1px solid #ccc;
		font-size:20px;
		padding-left:5%;
		position: fixed;
		top:0;
		left:0;
		right:0;
		background-color: #fff;
		.list-title{padding-left:35%;}
	}
	.cart-img{width: 20%;margin-bottom: 20px; margin-top:100px;}
	.cart-text{font-size:16px; margin-bottom:20px;}
	.cart-btn{margin-bottom:50px ;}
	.all-check{
		text-align: left;
		margin-left: 13px;
		margin-bottom: 5px;
		padding-bottom: 7px;
	}
	.cart-list{
		li{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-around;
			background: #fff;
			margin-bottom:10px;
			padding:5px;
			.cart-i-check{
				width:10%;
				height:100px;
				line-height:100px;
			}
			.cart-i-img{
				width:30%;
				img{width: 100%;}
			}
			.cart-i-name{
				width:40%;
				margin-top:10px;
				text-align: left;
			}
			.cart-i-price{
				width:20%;
				margin-top:10px;
				.cart-i-p{color:deeppink;}
				.cart-i-num{color:#ccc;}
			}
			
		}
	}
}